<% include ../partials/header %>

<div class="container">
    <div class="row">
            <h1>Create a New Campground</h1>
            <div class="form-block">
                <form action="/campgrounds" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="campground name" name="name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="image url" name="image">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="words" name="description">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-medium btn-default btn-block">Submit</button>
                    </div>
                </form>
                <hr>
                <a class="form-control btn btn-small btn-info" href="/campgrounds">Back to All Campgrounds</a>
            </div>
    </div>
</div>
<% include ../partials/footer %>